*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #22262A;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a,a:focus,a:hover,a:visited{
    text-decoration: none;
    color: #22262A;
}

.container{
    max-width: 1133px;
    margin: 0 auto;
    height: 100%;
}

/*Header*/
.header {
    padding: 33px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__inner {
    display: flex;
    font-size: 18px;
    line-height: 27px;
}
.menu__link {
    margin: 0 15px;
}

.shoppind__link {
    margin: 0 24px;
}

/*section main trand*/
.trand__header {
    background-image: url(../img/sect_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.trand__header-inner{
    height: 100%;
    padding-bottom: 101px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 60%;
}
.trand__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.trand__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
}
.trand__buttons {
    margin-top: 21px;
}
.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #22262A;
    cursor: pointer;
    padding: 4px 25px;
    margin-right: 34px;
}

/*section catalog*/
.catalog {
    padding-top: 119px;
}
.catalog__inner{
    display: flex;
    justify-self: center;
    align-items: center;
}

.catalog__left{
    padding-right: 15px;
}

.catalog__right{
    padding-left: 15px;
    position: relative;
}

.catalog__left-top,
.catalog__left-bottom {
    padding: 12px 0;
}

.catalog__left-bottom {
    display: flex;
    justify-content: space-between;
}

.catalog__right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    z-index: 2;
}

.catalog__right-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: #fff;
    position: absolute;
    bottom: 28px;
    left: 48px;
    padding: 4px 23px;
    z-index: 3;
}